.navbar-item {
    padding: 10px !important;
}

.navbar-link {
    text-decoration: none !important;
    padding: 10px !important;
    border-radius: 5px;
}

.navbar-link:hover {
    background-color: #2D3748;
}